.spaced {
  background-color: rgba(250,235,221, 0.9);
  font-family: 'bc-liguria';
  position: fixed;
  display: flex;
  box-shadow: 2px gray;
  color: black;
  padding: 20px;
  right: 58px;
  height: 50vh;
  top: 50vh;
  width: 26vw;
  z-index: 20;
}

@media (max-width: 1000px) {
  .spaced {
    width: 80vw;
    text-align: left;
    top: 15vh;
    right: 0;
    align-items: center;
    justify-content: center;
    font-size: 32pt;
  }

}

@media (max-height: 800px) {
  .spaced {
    font-size: 14pt;
  }
}

.sketchCanvas {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: -10;
}

#sketchCanvas {
  opacity: 1;
}

#mobileCanvas {
  opacity: 0.5;
}

#hydraCanvas {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.hide {
  display: hidden;
}