.spaced {
  margin: 16px;
}

#sketchCanvas {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: -10;
}

#hydraCanvas {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}
