.spaced {
  background-color: #faebdd;
  position: fixed;
  left: 50vw;
  height: 20vh;
  padding: 100px;
  top: 50vh;
  width: 40vw;
  z-index: 10;
}

#sketchCanvas {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: -10;
}

#hydraCanvas {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}
